body {
    background-image: url("./assets/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: cornsilk;
    text-align: center;
}

p {
    color: cornsilk;
    text-align: center;
}

#tap {
    width: 160px;
    height: 160px;
    color: cornsilk;
    font-weight: bold;
    background-color: rgba(30, 170, 226, 0.753);
    border-radius: 50%;
    justify-content: center;
    margin-left: 555px;
    flex: auto;
    align-items: center;
}

#reset {
    width: 120px;
    margin-left: 580px;
    flex: auto;
    align-items: center;
}